.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    height: max-content;
    width: auto;
    border-bottom: 1px solid #EEEEEE;
    padding: 16px 20px;
    border-radius: 20px 20px 0 0;
}