.btn {
  outline: none;
  border: none;
  vertical-align: bottom;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
  margin-top: 24px;
}
.img {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
