.dropdownContainer {
    position: relative;
    display: inline-block;
}

.dropdownHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    margin-left: auto;
}